body {
    background-color:#fff;
    font-size:16px;
    background-size: auto;

    background-image: url("coffee.jpg");

    flex: none;
}
.demo {
    width: 100px;
    height:160px;
    padding:8px;
    border-radius: 20%;
    margin-bottom:10px;
    overflow: hidden;
    display:inline-block;
    background: #393E46;
    line-height: 160px;
    font-family: Consolas, Monaco, monospace;
    font-size: 160px;
    color: #f7f7f7;
    text-align: center;


}

.display {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.box {
    width:100px;
    height:2720px;
    display:inline-block;
    /* position:absolute; */
}

.scroll-number {
    height: 160px;
    font-size: 60px;
}

.green {
}
input[type="button"] {
    -webkit-appearance:button;
    padding:8px;
    margin-right:5px;
    margin-bottom: 5px;
    z-index: 1000;
}