body {
    background: #533a6f;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Consolas, Monaco, monospace;
}

.logo {
    height: 60px;
    width: 100%;
    margin-top: 50px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
}

.number-scroll{
    display: flex;
    justify-content: space-between;
    width: 660px;
    height: 200px;
    overflow: hidden;
    margin: 50px auto 0 auto;
    position: relative;
    background: #624582;
    border: 2px solid aliceblue;
    color: aliceblue;
    border-radius: 1%;
}

.scroll-number {
    height: 200px;
    font-size: 100px;
    line-height: 200px;
    text-align: center;
}

/* .number-scroll ul {
    width: 200px;
    height: calc(36 * 200px);
    list-style: none;
    padding: 0;
    margin: 0;
} */

.numbers {
    width: 220px;
}

@keyframes rowup {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -95%, 0);
    }
}

.number-scroll li {
    height: 200px;
    font-size: 96px;
    text-align: center;
    transform: translateY(30px);
}

.box {
    height:2720px;
    display:inline-block;
    width: 220px;
    /* position:absolute; */
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #b68ae9;
    font-size: 124px;
    text-align: right;
    color: antiquewhite;
}

.hide{
    display: none;
}

#go{
    margin: 20px auto 0 auto;
    width: 100px;
    height: 100px;
    font-size: 80px;
    color: aliceblue;
    background: #533a6f;
    cursor: pointer;
}
.panel{
    height: 500px;
    width: 100vw;
    position: relative;
}

.output-panel{
    position: absolute;
    transition: left linear 0.5s;
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    padding: 0 100px;
}

.number_card{
    width: 200px;
    height: 100px;
    border: 4px solid #b68ae9;
    color: white;
    font-size: 50px;
    border-radius: 100px / 50px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.title{
    font-size: 70px;
    color: antiquewhite;
}